model:
  num_cells: 256
  lr: 3e-4
  max_grad_norm: 1.0

  gamma: 0.99
  tau: 0.05

  alpha: 0.2
  alpha_lr: 3e-4
  alpha_min: 0.05

  batch_size: 512
  replay_size: 1_000_000

  update_every: 256

  load_initial: true

  use_noisy: true
  noise_sigma: 0.5

  per_alpha: 0.6
  per_beta: 0.4
